*{
    margin: 0;
    padding:0;

}
.header{
    min-height: 100vh;
    width:100;
    background-image: linear-
    gradient(rgba(4,9,30,0,7),rgba(4,9,30,0,7));
    background-image: url(images/banner.png);
    
    background-position:center;
    background-size: cover;
    position: relative;

}
nav {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
  }
  
  .nav a {
     
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: center;
    background-color: #f44336;
    width: 100;
    
}
.nav-links ul li{
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 8px 12px;
    
    position: relative;

}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;

}






/*-----search-----*/
.search{
    width:330px;
    float:left;
    margin-left: 500px;   
}
.srch{
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border:1px solid #ff7200 ;
    margin-top: 13px;
    color:#fff;
    border-right: none;
    font-size: 16px;
    float:left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}

.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border:2px solid #ff7200 ;
    margin-top: 13px;
    color:#fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
   border-bottom-right-radius: 5px;

}


.srch:focus{
    outline: none;
}






/*---end*/
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50;
    transform: translate(-30%,-30%);
    text-align: center;
    text-align: right;
}
.text-box h1{
    font-size: 62px;
}
.hero-btn{
    display: inline-block;
    text-decoration:none ;
    transform: translate(-30%,-30%);
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
    text-align: center;

}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1px;
}


/*--------- Course-------*/

.course{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-color: #fff;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color:#777;
    font-size: 14px;
    font-weight:300 ;
    line-height: 22px;
    padding:10px;
}

.row{
    margin-top: 50;
    display:flex;
    justify-content:space-between;
}
.course-col{
    flex-basis: 31;
    background:#fff3f3;
    border-radius:10px ;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;

}
.course-col:hower{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0,2);
}
/*-----------campus-----------*/

.campus{
    width:100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background-color: #fff;
}

/*-------footer---------*/
.footer{
    background-color: #333;
    width:100;
    text-align: center;
    padding:30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons.fa{
    color: #f44336;
    margin: 0 13px;
    cursor:pointer;
    padding: 18px 0;

}
.fa-heart-o{
    color:#f44336;

}
 /*------------about as------*/
 
 